<div class="form-row">
    <% include ./filtroCantonDistProv %>
    <div class="form-group col-md-3" id="asada-select">
        <label for="asada">Asadas</label>
        <select id="asada" class="form-control hideinput" onchange="graficoAranna();">
            <option value="">Sin filtro</option>
            <%asadas.forEach(function(asada){%>
                <option hidden value="<%=asada.ID%>" distrito="<%=asada.Distrito%>" canton="<%=asada.Canton%>" provincia="<%=asada.Provincia%>"><%=asada.Nombre%></option>
            <%});%>
        </select>
    </div>
</div>