<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header %>

    <style>
        a[aria-expanded="true"]::before {
            content: none;
        }

        a[aria-expanded="false"]::before,
        a[aria-expanded="true"]::before {
            content: none;
        }

        #sidebar ul li.active>a,
        a[aria-expanded="true"] {
            color: black;
            background: transparent;
        }
    </style>
</head>

<body>

    <div class="wrapper">
        <!-- Sidebar Holder -->

        <!-- Page Content Holder -->
        <div id="content" style="width: 100%;">

            <nav class="navbar navbar-default">
                <div class="container-fluid">

                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="glyphicon glyphicon-leaf"></i>
                            <span></span>
                        </button>

                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <br>
                        <label>Provincia</label>
                        <select id="prov" class="form-control" onchange="FiltrarProvincia()">
                            <option value="0">Sin filtro</option>
                            <%provincias.forEach(function(provincia) {%>

                            <option value="<%=provincia.ID%>"><%=provincia.Nombre%></option>
                            <%});%>
                        </select>
                        <br>
                        <label>Cantón</label>
                        <select id="cant" class="form-control" onchange="FiltrarCanton()">
                           
                        </select>
                        <br>
                        <label>Distrito</label>
                        <select id="dist" class="form-control" onchange="FiltrarDistrito()">
                           
                        </select>
                    </div>
                    <div class="col-sm-8">
                        <h3>Contacto de ASADAs</h3>
                        <p id="totalAsadas" style="color: black; font-family: Arial, Helvetica, sans-serif;">Total de
                            ASADAS
                            registradas: <%=rows.length%></p>
                        <div style="margin: 20px;">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                                <%rows.forEach(function(asada, index) {%>

                                <div class="panel panel-default" data-provincia="<%=asada.Provincia%>" data-canton="<%=asada.Canton%>" data-distrito="<%=asada.Distrito%>">
                                    <div class="panel-heading" role="tab" id="heading<%=index%>">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse"
                                                data-parent="#accordion" href="#collapse<%=index%>"
                                                aria-expanded="false" aria-controls="collapse<%=index%>">
                                                <%=asada.ID%> - <%=asada.Nombre%>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse<%=index%>" class="panel-collapse collapse in" role="tabpanel"
                                        aria-labelledby="heading<%=index%>">
                                        <div class="panel-body">
                                            <p><b>Ubicación: </b> <%=asada.Ubicacion%></p>
                                            <p><b>Teléfono: </b> <%=asada.Telefono%></p>
                                        </div>
                                    </div>
                                </div>
                                <%});%>
                            </div>
                        </div>
                    </div>
                </div>



            </nav>
        </div>
    </div>


    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {


            $('.collapse').collapse()

        });
    </script>
    <script src="scripts/getProvCantDist.js"></script>
    <script src="scripts/contacto.js"></script>
    <script src="scripts/crud.js"></script>
</body>

</html>