<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header %>

    <style>
        a[aria-expanded="true"]::before {
            content: none;
        }

        a[aria-expanded="false"]::before,
        a[aria-expanded="true"]::before {
            content: none;
        }

        #sidebar ul li.active>a,
        a[aria-expanded="true"] {
            color: black;
            background: transparent;
        }
    </style>
</head>

<body>

    <div class="d-flex" id="wrapper">
        <!-- Sidebar Holder -->
        
        <!-- Page Content Holder -->
        <div id="page-content-wrapper" style="background-color: #FAFAFA;">
            <% include ../partials/horizontalMenu %>
            <div class="container-fluid">
                <h1 class="text-center title">Contacto de ASADAs</h1>
                <hr>
                <div>
                    <nav class="navbar navbar-default">
                        <div class="row" >
                            <div class="col-sm-4">
                                <h3 class="text-center title">Ubicación</h3>
                                <br>
                                <label>Provincia</label>
                                <select id="prov" class="form-control" onchange="FiltrarProvincia()">
                                    <option value="0">Sin filtro</option>
                                    <%provincias.forEach(function(provincia) {%>

                                    <option value="<%=provincia.ID%>"><%=provincia.Nombre%></option>
                                    <%});%>
                                </select>
                                <br>
                                <label>Cantón</label>
                                <select id="cant" class="form-control" onchange="FiltrarCanton()">
                                
                                </select>
                                <br>
                                <label>Distrito</label>
                                <select id="dist" class="form-control" onchange="FiltrarDistrito()">
                                
                                </select>
                            </div>
                            <div class="col-sm-8" >
                                <h3 class="text-center title">Asadas</h3>
                                
                                <div style="margin: 20px;">
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                                        <%rows.forEach(function(asada, index) {%>
                                            
                                        <div class="panel panel-default bg-white shadow p-3 mb-5" data-provincia="<%=asada.Provincia%>" data-canton="<%=asada.Canton%>" data-distrito="<%=asada.Distrito%>">
                                            <div class="panel-heading" role="tab" id="heading<%=index%>">
                                                <h5 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse"
                                                        data-parent="#accordion" href="#collapse<%=index%>"
                                                        aria-expanded="false" aria-controls="collapse<%=index%>">
                                                        <%=asada.ID%> - <%=asada.Nombre%>
                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapse<%=index%>" class="panel-collapse collapse in" role="tabpanel"
                                                aria-labelledby="heading<%=index%>">
                                                <div class="panel-body">
                                                    <p><b>Ubicación: </b> <%=asada.Ubicacion%></p>
                                                    <p><b>Teléfono: </b> <%=asada.Telefono%></p>
                                                </div>
                                            </div>
                                        </div>
                                        <%});%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                
            </div>
            
        </div>
    </div>


    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {


            $('.collapse').collapse()

        });
    </script>
    <script src="scripts/getProvCantDist.js"></script>
    <script src="scripts/contacto.js"></script>
    <script src="scripts/crud.js"></script>
</body>

</html>