<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header %>
        <style>
            .ayuda-link, .ayuda-link:hover, .ayuda-link:focus
            {
                color: blue;
                text-decoration: none;
                transition: all 0.3s;
            }
        </style>
    </head>

    <body>

        <div class="d-flex" id="wrapper">
            <!-- Sidebar Holder -->
            <% include ../partials/latAdmin %>
            <!-- Page Content Holder -->
            <div id="page-content-wrapper" style="background-color: #FAFAFA;">
                <button class="btn" id="menu-toggle" style="background: none;"><i class="fas fa-bars"></i></button>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-md">
                            <p class="title mt-3 pb-2 font-weight-bold h3">Formulario / Crear formulario</p>
                        </div>
                        <div class="col-auto d-flex align-items-center">
                            <button type="button" id="btnCrearFormulario" class="btn btn-info" onclick="manejoFormulario(guardarFormulario)">
                                Guardar
                            </button>
                        </div>
                    </div>
                    <div class="bg-white shadow p-3 mb-5">
                        <form id="formulario" action="/sendForm" method="POST" >
                            <div class="form-group">
                                <% if(true){%>
                                    <input id="asada" name="asada" type="text" value="" hidden>
                                <%}else{%>
                                    <input id="asada" name="asada" type="text" value="<%=usuario.Asada_ID%>" hidden>
                                <%}%>
                                <input class="form-control" type="number" hidden required step="1" min="2000" value="" id="anno" name="anno">
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped table-borderless">
                                    <thead>
                                        <tr>
                                            <th scope="col">Pregunta</th>
                                            <th scope="col">Respuesta</th>
                                        </tr>
                                    </thead>
                                    <tbody id="componenttable">
                                            <tr hidden>
                                                <td>Nada</td>
                                                <td><input type="text" name="ocultos" id="ocultos"></td>
                                            </tr>
                                            <%indicadores.forEach(function(indicador, index) {%>
                                            <tr>
                                                <td><%=indicador.ID%>. <%=indicador.Nombre%>
                                                    <button type="button" id="ayuda-<%=indicador.ID%>" class="btn btn-icon" onclick="mostrarAyudaPregunta(<%=indicador.ID%>)"><i class="far fa-question-circle"></i></button></td>
                                                <%if(indicador.MEDIDA_ID==1){%>
                                                <td><select class="form-control hideinput" required name="<%=indicador.ID%>">
                                                    <option value=""></option>
                                                    <option value="0">SI</option>    
                                                    <option value="1">NO</option>
                                                </select>
                                                </td>
                                                <%}else if(indicador.MEDIDA_ID==2){%>
                                                <td><select class="form-control hideinput" required name="<%=indicador.ID%>"> 
                                                    <option value=""></option>
                                                    <option value="1">SI</option> 
                                                    <option value="0">NO</option>
                                                </select>
                                                </td>
                                                <%}else if(indicador.MEDIDA_ID==3 || indicador.MEDIDA_ID==4){%>
                                                <td><input type="number" step="any" min="<%=indicador.MINIMO%>" max="<%=indicador.MAXIMO%>" required class="form-control hideinput" placeholder="<%=indicador.MINIMO%>-<%=indicador.MAXIMO%>" name="<%=indicador.ID%>"></td>
                                                <%}else{%>
                                                    <td><select class="form-control hideinput" required name="<%=indicador.ID%>">
                                                        <option value=""></option>
                                                    <%nominales.forEach(function(nominal,index){%>
                                                        <%if(nominal.INDICADOR_ID==indicador.ID){%>
                                                            <option value="<%=nominal.Porcentaje%>"><%=nominal.Simbolo%> <%=nominal.Valor%></option>
                                                        <%}%>
                                                    <%});%>
                                                    </select></td>
                                                <%}%>
                                            </tr>
                                            <%});%>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- jQuery CDN -->
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <!-- Sweetalert -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        
        <script type="text/javascript">
            $(document).ready(function () {
               

                $("#menu-toggle").click(function (e) {
                    e.preventDefault();
                    $("#wrapper").toggleClass("toggled");
                });

                $("#divrisk").click(function(){
                     $("#divrisk").toggle("slow","linear");
                });

                $("#buttonrisk").click(function(){
                     $("#divrisk").toggle("slow","linear");
                });
                $("a[href$='/histFormulario']") .addClass("active");
            });
        </script>
        <script type="text/javascript">
            var ayudasPreguntas = {};
            function mostrarAyudaPregunta(idPregunta)
            {
                if(ayudasPreguntas[idPregunta] != undefined)
                {
                    Swal.fire(
                    {
                        title: '',
                        icon: 'info',
                        html: `<p id="text-ayuda">${ayudasPreguntas[idPregunta].ayuda}<br>${ayudasPreguntas[idPregunta].url == "" ? "" : `<a class="ayuda-link" href="${ayudasPreguntas[idPregunta].url}" target="_blank">Click para más información</a>`}</p>`,
                        confirmButtonColor: '#1D2D51'
                    }); //end sweetAyuda
                } //end if
                else
                {
                    Swal.fire(
                    {
                        title: "Cargando...",
                        allowOutsideClick: () => !Swal.isLoading(),
                        onBeforeOpen: ()=>
                        {
                            Swal.showLoading();
                            $.get("/getAyudaPregunta", {"idPregunta": idPregunta}, function(ayuda)
                            {
                                ayudasPreguntas[idPregunta] = ayuda
                                Swal.fire(
                                {
                                    title: ayuda.error ? 'Error' : '',
                                    icon: ayuda.error ? 'error' : 'info',
                                    html: ayuda.error ? '<p id="text-ayuda">Ocurrió un error al conseguir la información</p>' : `<p id="text-ayuda">${ayuda.ayuda}<br>${ayuda.url == "" ? "" : `<a class="ayuda-link" href="${ayuda.url}" target="_blank">Click para más información</a>`}</p>`,
                                    confirmButtonColor: '#1D2D51'
                                }); //end sweetAyuda
                            }); //end getAyudaPregunta
                        } //end onBeforeOpen
                    }); //end sweetLoading
                } //end else
            }
        </script>
        <script src="/scripts/crud.js"></script>
        <script src="/scripts/script.js"></script>
        <script type="text/javascript">
            <%if(usuario.Tipo == 1){%>
                $("#asada")[0].value = (new URL(document.URL)).searchParams.get("asada")
            <%}%>
            $("#anno")[0].value = (new Date()).getFullYear()
            manejoFormulario(cargarFormulario)
        </script>
    </body>
</html>