<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header %>
</head>

<body>
    <div class="d-flex" id="wrapper">
        <% include ../partials/latAdmin %>
        <div id="page-content-wrapper" style="background-color: #FAFAFA;">
            <button class="btn" id="menu-toggle" style="background: none;"><i class="fas fa-bars"></i></button>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md">
                        <p class="title mt-3 pb-2 font-weight-bold h3">Actualizar indicador</p>
                    </div>
                    <div class="col-auto d-flex align-items-center">
                        <form action="/indicador" id="compsub">
                            <button type="submit" onclick=" return updateIndicador(<%=indicador.ID%>);"
                                style="visibility: hidden;" id="savebutton" class="btn btn-info navbar-btn">Guardar
                                cambios</button>
                            <p style="color: #f00;" id="error"></p>
                        </form>
                    </div>
                </div>

                <div class="bg-white shadow p-3 mb-5">
                    <form>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Código</label>
                                <input type="text" disabled="" class="form-control" id="Codigo"
                                    value="<%=indicador.Codigo%>">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="Valor">Valor</label>
                                <input type="text" disabled="" class="form-control" id="Valor"
                                    value="<%=indicador.Valor%>%">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Nombre">Nombre</label>
                            <textarea class="form-control" style="resize: none;" id="Nombre"
                                onchange="updateComponent(this.id);" rows="3"><%=indicador.Nombre%></textarea>
                        </div>

                        <div class="form-group">
                            <label for="Descripcion">Descripción</label>
                            <textarea class="form-control" style="resize: none;" id="Descripcion"
                                onchange="updateComponent(this.id)" rows="3"><%=indicador.Descripcion%></textarea>
                        </div>

                        <div class="form-group">
                            <label for="Subcomponente">Subcomponente</label>
                            <select id="Subcomponente" class="form-control" onchange="updateComponent(this.id)">
                                <option selected="" value="<%=indicador.Subcomponente_ID%>"><%=indicador.Subcomponente%>
                                </option>
                                <%subs.forEach(function(sub){%>
                                <%if(sub.ID != indicador.Subcomponente_ID){%>
                                <option value="<%=sub.ID%>"><%=sub.Nombre%></option>
                                <%}%>
                                            <%});%>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="Medida">Medida</label>
                            <input type="text" disabled="" class="form-control" id="Medida"
                                value="<%=indicador.Medida%>">
                        </div>

                        <div class="form-group">
                            <label for="Formula">Fórmula</label>
                            <input type="text" class="form-control" id="Formula" onchange="updateComponent(this.id)"
                                value="<%=indicador.Formula%>">
                        </div>

                        <div class="form-group">
                            <label for="Fuente">Fuente</label>
                            <input type="text" class="form-control" id="Fuente" onchange="updateComponent(this.id)"
                                value="<%=indicador.Fuente%>">
                        </div>

                        <div class="form-group">
                            <label for="Url">URL</label>
                            <input type="text" class="form-control" id="Url" onchange="updateComponent(this.id)"
                                value="<%=indicador.Url%>">
                        </div>

                        <div class="form-group">
                            <label for="Responsable">Responsable</label>
                            <input type="text" class="form-control" id="Responsable" onchange="updateComponent(this.id)"
                                value="<%=indicador.Responsable%>">
                        </div>

                        <div class="form-group">
                            <label for="Periodo">Periodo</label>
                            <input type="text" class="form-control" id="Periodo" onchange="updateComponent(this.id)"
                                value="<%=indicador.Periodo%>">
                        </div>

                        <div class="form-group">
                            <label for="Frecuencia">Frecuencia</label>
                            <input type="text" class="form-control" id="Frecuencia" onchange="updateComponent(this.id)"
                                value="<%=indicador.Frecuencia%>">
                        </div>

                        <div class="form-group">
                            <label for="Observaciones">Observaciones</label>
                            <textarea class="form-control" style="resize: none;" id="Observaciones"
                                onchange="updateComponent(this.id)" rows="3"><%=indicador.Observaciones%></textarea>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>



    <script type="text/javascript">
        $(document).ready(function () {


            $("a[href$='/indicador']").addClass("active");

            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });

            $("#divrisk").click(function () {
                $("#divrisk").toggle("slow", "linear");
            });

            $("#buttonrisk").click(function () {
                $("#divrisk").toggle("slow", "linear");
            });


        });
    </script>
    <script src="/scripts/crud.js"></script>
</body>

</html>