<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header %>
    </head>

    <body>

        <div class="wrapper">
            <!-- Sidebar Holder -->
            <% include ../partials/latAdmin %>
            <!-- Page Content Holder -->
            <div id="content">

                <nav class="navbar navbar-default">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                <i class="glyphicon glyphicon-leaf"></i>
                                <span></span>
                            </button>
                        </div>

                        <div style="float: right;">
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <form action="/logout">
                                    <button type="submit" class="btn btn-info navbar-btn">Cerrar Sesión</button>
                                </form>
                            </div>                           
                        </div>
                    </div>
                    <div>
                        <label for="prov">Provincia</label>
                        <select class="form-control" onchange="getCanton()" id="prov">
                            <option value="0">Sin filtro</option>
                            <%prov.forEach(function(row, index) {%>
                                <option value="<%= row.ID%>"><%= row.Nombre%></option>
                            <%});%>
                        </select>
                        <label for="cant">Cantón</label>
                        <select class="form-control" onchange="getDistrito()" id="cant">
                                <option value="0">Sin filtro</option>
                        </select>
                        <label for="dist">Distrito</label>
                        <select class="form-control" id="dist" onchange="getAsada()">
                            <option value="0">Sin filtro</option>
                        </select>
                    </div>
                    <form id="formulario" action="/sendForm" method="POST" >
                    <div style="margin: 20px;">
                        <div class="form-group">
                            <label for="asada">ASADA</label>
                            <select name="asada" id="asada" required class="form-control hideinput">
                                <option value=""></option>
                                <%asadas.forEach(function(asada){%>
                                    <option hidden value="<%=asada.ID%>" distrito="<%=asada.Distrito%>" canton="<%=asada.Canton%>" provincia="<%=asada.Provincia%>"><%=asada.Nombre%></option>
                                <%});%>
                            </select>
                            
                            <label for="anno">Año</label>
                            <input class="form-control" type="number" required step="1" min="2000" id="anno" name="anno">
                            <button type="button" onclick="return manejoFormulario(cargarFormulario);" class="btn btn-info navbar-btn">Cargar Formulario</button>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Pregunta</th>
                                    <th scope="col">Respuesta</th>
                                </tr>
                            </thead>
                        <tbody id="componenttable">
                                <tr hidden>
                                    <td>Nada</td>
                                    <td><input type="text" name="ocultos" id="ocultos"></td>
                                </tr>
                                <%indicadores.forEach(function(indicador, index) {%>
                                <tr>
                                    <td><%=indicador.Nombre%></td>
                                    <%if(indicador.MEDIDA_ID==1){%>
                                    <td><select class="form-control hideinput" required name="<%=indicador.ID%>">
                                        <option value=""></option>
                                        <option value="0">SI</option>    
                                        <option value="1">NO</option>
                                    </select>
                                    </td>
                                    <%}else if(indicador.MEDIDA_ID==2){%>
                                    <td><select class="form-control hideinput" required name="<%=indicador.ID%>"> 
                                        <option value=""></option>
                                        <option value="1">SI</option> 
                                        <option value="0">NO</option>
                                    </select>
                                    </td>
                                    <%}else if(indicador.MEDIDA_ID==3 || indicador.MEDIDA_ID==4){%>
                                    <td><input type="number" step="any" min="<%=indicador.MINIMO%>" max="<%=indicador.MAXIMO%>" required class="form-control hideinput" placeholder="<%=indicador.MINIMO%>-<%=indicador.MAXIMO%>" name="<%=indicador.ID%>"></td>
                                    <%}else{%>
                                        <td><select class="form-control hideinput" required name="<%=indicador.ID%>">
                                            <option value=""></option>
                                        <%nominales.forEach(function(nominal,index){%>
                                            <%if(nominal.INDICADOR_ID==indicador.ID){%>
                                                <option value="<%=nominal.Porcentaje%>"><%=nominal.Simbolo%> <%=nominal.Valor%></option>
                                            <%}%>
                                        <%});%>
                                        </select></td>
                                    <%}%>
                                </tr>
                                <%});%>
                        </tbody>
                        </table>

                    </div>
                    <br>
                    <div id="divbutton" style=" position: absolute; bottom: 6px; right: 8px;">
                        <button type="button" onclick="return manejoFormulario(guardarFormulario);" class="btn btn-info navbar-btn">Guardar Formulario</button>
                        <button type="submit" onclick="return valoresForm();" class="btn btn-info navbar-btn">Enviar Formulario</button>
                    </div>
                    </form>
                </nav>
            </div>
        </div>


        <!-- jQuery CDN -->
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <!-- Bootstrap Js CDN -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- jQuery Custom Scroller CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
               

                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar, #content').toggleClass('active');
                    $('.collapse.in').toggleClass('in');
                    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                });

                $("#divrisk").click(function(){
                     $("#divrisk").toggle("slow","linear");
                });

                $("#buttonrisk").click(function(){
                     $("#divrisk").toggle("slow","linear");
                });


            });
        </script>
        <script src="/scripts/crud.js"></script>
        <script src="/scripts/script.js"></script>
    </body>
</html>