<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header %>
</head>

<body>

    <div class="d-flex" id="wrapper">
        <% include ../partials/latAdmin %>
        <div id="page-content-wrapper" style="background-color: #FAFAFA;">
            <button class="btn" id="menu-toggle" style="background: none;"><i class="fas fa-bars"></i></button>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md">
                        <p class="title mt-3 pb-2 font-weight-bold h3">Agrupaciones/Editar Agrupación</p>
                    </div>
                    <div class="col-auto d-flex align-items-center">
                        <button type="submit" onclick="window.location.replace('/asociaciones');"
                            class="btn btn-info navbar-btn" style="margin-right: 8px;">Agrupaciones</button>
                        <button type="submit" id="savebutton-editar" class="btn btn-info navbar-btn">Guardar
                            cambios</button>
                    </div>
                </div>
                <div class="bg-white shadow p-3 mb-5">
                    <div class="form-group">
                        <label for="Nombre">Nombre</label>
                        <input required type="text" class="form-control" id="Nombre"
                            placeholder="Nombre de la asociación" name="Nombre" value="<%=asociacion.Nombre%>">
                    </div>

                    <div class="form-group">
                        <label for="asadaID">Agregar una ASADA</label>
                        <div class="input-group align-items-center justify-content-center">

                            <select id="asadaID" name="asadaID" class="form-control">
                                <%asadas.forEach(function(asada){%>
                                <option value="<%=asada.ID%>"><%=asada.Nombre%></option>
                                <%});%>
                            </select>
                            <span class="input-group-btn" style="margin-bottom: 3px;">
                                <button id="btn-add-asada" class="btn btn-info navbar-btn" type="button"> <i
                                        class="fas fa-plus"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Ver</th>
                                    <th scope="col">Eliminar</th>
                                </tr>
                            </thead>
                            <tbody id="asada_table_body">
                                <%lista_asadas.forEach(function(asada){%>
                                <tr id="asada_row_id_<%=asada.ID%>">
                                    <td id="asada_row_id_<%=asada.ID%>_ID"><%=asada.ID%></td>
                                    <td id="asada_row_id_<%=asada.ID%>_name"><%=asada.Nombre%></td>
                                    <td><button class="btn btn-icon" onclick="location.href='/asadas/<%=asada.ID%>';"><i
                                                class="fas fa-info-circle" style="color: #325276"></i></button></td>
                                    <td><button class="btn btn-icon" onclick="deleteAsada('<%=asada.ID%>');"><i
                                                class="fas fa-trash text-danger"></i></button></td>
                                    </td>
                                </tr>
                                <%});%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        $(document).ready(function () {
            $("a[href$='/asadas']").addClass("active");

            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });

            $("#divrisk").click(function () {
                $("#divrisk").toggle("slow", "linear");
            });

            $("#buttonrisk").click(function () {
                $("#divrisk").toggle("slow", "linear");
            });

        });
        let actuales = {

        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="/scripts/asociaciones.js"></script>
</body>

</html>