<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header %>
</head>

<body>

    <div class="d-flex" id="wrapper">
        <% include ../partials/latAdmin %>
        <div id="page-content-wrapper" style="background-color: #FAFAFA;">
            <button class="btn" id="menu-toggle" style="background: none;"><i class="fas fa-bars"></i></button>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md">
                        <p class="title mt-3 pb-2 font-weight-bold h3">Crear indicador</p>
                    </div>

                    <div class="col-auto d-flex align-items-center">


                    </div>

                </div>
                <div class="bg-white shadow p-3 mb-5">
                    <form action="/createindicador" method="POST">
                        <div class="form-group">
                            <label for="Nombre">Nombre</label>
                            <textarea required class="form-control" style="resize: none;" id="Nombre" name="Nombre"
                                rows="3"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="Descripcion">Descripción</label>
                            <textarea required class="form-control" style="resize: none;" id="Descripcion"
                                name="Descripcion" rows="3"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="Subcomponente">Subcomponente</label>
                            <select id="Subcomponente_ID" name="Subcomponente_ID" class="form-control">
                                <%subs.forEach(function(sub){%>
                                <option value="<%=sub.Siglas%>-<%=sub.ID%>"><%=sub.Nombre%></option>
                                <%});%>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="Formula">Fórmula</label>
                            <input required type="text" class="form-control" id="Formula" name="Formula" value="">
                        </div>

                        <div class="form-group">
                            <label for="Fuente">Fuente</label>
                            <input required type="text" class="form-control" id="Fuente" name="Fuente" value="">
                        </div>

                        <div class="form-group">
                            <label for="Url">URL</label>
                            <input required type="text" class="form-control" id="Url" name="Url" value="">
                        </div>

                        <div class="form-group">
                            <label for="Responsable">Responsable</label>
                            <input required type="text" class="form-control" id="Responsable" name="Responsable"
                                value="">
                        </div>

                        <div class="form-group">
                            <label for="Periodo">Periodo</label>
                            <input required type="text" class="form-control" id="Periodo" name="Periodo" value="">
                        </div>

                        <div class="form-group">
                            <label for="Frecuencia">Frecuencia</label>
                            <input required type="text" class="form-control" id="Frecuencia" name="Frecuencia" value="">
                        </div>

                        <div class="form-group">
                            <label for="Observaciones">Observaciones</label>
                            <textarea required class="form-control" style="resize: none;" id="Observaciones"
                                name="Observaciones" rows="3"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="Medida">Medida</label>
                            <select id="Medida_ID" name="Medida_ID" class="form-control"
                                onchange="cambiarMedida(this.value)">
                                <%meds.forEach(function(med){%>
                                <option value="<%=med.ID%>"><%=med.Nombre%></option>
                                <%});%>
                            </select>
                        </div>

                        <div id="Lineal" class="form-group" style="display: none;">
                            <div class="form-group">
                                <label for="Pendiente">Pendiente</label>
                                <input type="Number" class="form-control" id="Pendiente" min="-999" max="999" step="any"
                                    name="Pendiente" value="">
                            </div>

                            <div class="form-group">
                                <label for="Ordenada">Ordenada</label>
                                <input type="Number" class="form-control" id="Ordenada" min="-999" max="999" step="any"
                                    name="Ordenada" value="">
                            </div>
                        </div>
                        <input type="Number" style="display: none;" id="contador" name="contador" value="1">
                        <div class="form-group" id="Nominal" style="display: none;">
                            <table id="tableNominal" class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Símbolo</th>
                                        <th scope="col">Valor</th>
                                        <th scope="col">Porcentaje</th>
                                    </tr>
                                </thead>
                                <tbody id="tableNominalBody">
                                    <tr>
                                        <td><select id="Nominal-1-1" name="Nominal-1-1">
                                                <option value=">">></option>
                                                <option value="<">
                                                    <</option> <option value="=">=
                                                </option>
                                            </select></td>
                                        <td><input id="Nominal-2-1" name="Nominal-2-1" type="Number" min="0" max="100"
                                                step="1" class="form-control" placeholder="Entero de 0 a 100" value="">
                                        </td>
                                        <td><input id="Nominal-3-1" name="Nominal-3-1" type="Number" min="0" max="1"
                                                step="any" class="form-control" placeholder="Decimal de 0 a 1" value="">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <button class="btn btn-info navbar-btn" type="button" onclick="agregarNominal();"><i
                                            class="glyphicon glyphicon-plus"></i></button>
                                </div>
                                <div class="form-group col-md-6">
                                    <button class="btn btn-info navbar-btn" id="borranominal"
                                        style="display: none; background-color: rgb(239,51,64);" type="button"
                                        onclick="eliminarNominal();"><i class="glyphicon glyphicon-trash"
                                            style="color: #fff;"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" id="savebutton" class="btn btn-info navbar-btn">Crear
                                Indicador</button>
                            <p style="color: #f00;" id="error"></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <script type="text/javascript">
        $(document).ready(function () {
            $("a[href$='/indicador']").addClass("active");

            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });

            $("#divrisk").click(function () {
                $("#divrisk").toggle("slow", "linear");
            });

            $("#buttonrisk").click(function () {
                $("#divrisk").toggle("slow", "linear");
            });


        });
    </script>
    <script src="/scripts/crud.js"></script>
</body>

</html>