<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header %>
    </head>

    <body>
        <script type="text/javascript">
            var asada="0";
            var id="0";
        </script>

<div class="d-flex" id="wrapper">
    <!-- Sidebar Holder -->
    <% include ../partials/latAdmin %>
    <!-- Page Content Holder -->
    <div id="page-content-wrapper" style="background-color: #FAFAFA;">
        <button class="btn" id="menu-toggle" style="background: none;"><i class="fas fa-bars"></i></button>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <p class="title mt-3 pb-2 font-weight-bold h3">Usuarios asadas</p>
                </div>
                <div class="col-auto d-flex align-items-center">
                  
                        <button type="button" onclick="location.href='/usuario';" class="btn btn-info">
                            <i class="fas fa-arrow-left"></i>
                        </button>

                </div>
            </div>


            <div class="bg-white shadow p-3 mb-5">

                <label>Asadas</label>
                <select id="selector" class="form-control" onclick="seleccionarAsada();">
                    <%asadas.forEach(function(asada, index) {%>
                    <option value="<%=asada.ID%>"><%=asada.Nombre%></option>
                    <%});%>
                </select>
                <hr>    
                <div class="table-responsive">

                    <table class="table table-striped table-borderless">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center"> ID</th>
                                <th scope="col">Nombre</th>
                                <th scope="col" nowrap>Asada ID</th>
                                <th scope="col">Asada</th>
                                <th scope="col" class="text-center">Seleccionar</th>
                            </tr>
                        </thead>
                    <tbody id="usertable">
                            <%usuarios.forEach(function(user, index) {%>
                            <tr>
                                <th scope="row" class="align-middle text-center"><%=user.ID%></th>
                                <td><%=user.Nombre%></td>
                                <%if(user.Asada === null){%>
                                <td id="asadaID-<%=user.ID%>"></td>
                                <td id="asada-<%=user.ID%>"></td>
                                <td class="text-center">
                                    <button class="btn btn-icon " onclick="seleccionarUsuario(0, <%=user.ID%>);" > 
                                         <i class="far fa-times-circle" id="mark-<%=user.ID%>"></i>
                                        </button>
                                  
                                    </td>
                                <%}else{%>
                                <td id="asadaID-<%=user.ID%>"><%=user.Asada_ID%></td>
                                <td id="asada-<%=user.ID%>"><%=user.Asada%></td>
                                <td class="text-center">
                                    <button class="btn btn-icon"  onclick="seleccionarUsuario(<%=user.Asada_ID%>, <%=user.ID%>);">
                                        <i class="far fa-times-circle" id="mark-<%=user.ID%>"></i>
                                    </button>
                                </td>
                                <%}%>
                            </tr>
                            <%});%>
                    </tbody>
                    </table>
                       
                </div>
            </div>
        </div>
    </div>
</div>

                   
                    
          
   


        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
        <!-- jQuery Custom Scroller CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $("#divrisk").click(function(){
                     $("#divrisk").toggle("slow","linear");
                });

                $("#buttonrisk").click(function(){
                     $("#divrisk").toggle("slow","linear");
                });
            });
        </script>
        <script src="scripts/crud.js"></script>
    </body>
</html>

