<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header %>
    </head>

    <body>

        <div class="d-flex" id="wrapper">
            <!-- Sidebar Holder -->
            <% include ../partials/latAdmin %>
            <!-- Page Content Holder -->
            <div id="page-content-wrapper" style="background-color: #FAFAFA;">
                <button class="btn" id="menu-toggle" style="background: none;"><i class="fas fa-bars"></i></button>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-md">
                            <p class="title mt-3 pb-2 font-weight-bold h3">Generaci칩n de informes de opcines de mejora</p>
                        </div>
                    </div>
                    <div class="bg-white shadow p-3 mb-5">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="radio" name="tipoInforme" value="global" checked onclick="cambiarTipoInforme();"> Informe global
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <input type="radio" name="tipoInforme" value="custom" onclick="cambiarTipoInforme();"> Informe personalizado
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="prov">Provincia</label>
                                    <select class="form-control" onchange="getCanton()" id="prov" name="prov">
                                        <option value="0">Sin filtro</option>
                                        <%prov.forEach(function(row, index) {%>
                                            <option value="<%= row.ID%>"><%= row.Nombre%></option>
                                        <%});%>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="cant">Cant칩n</label>
                                    <select class="form-control" onchange="getDistrito()" id="cant" name="cant">
                                            <option value="0">Sin filtro</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="dist">Distrito</label>
                                    <select class="form-control" onchange="getAsada()" id="dist" name="dist">
                                        <option value="0">Sin filtro</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">  
                                    <label for="asada">Asada</label>
                                    <select id="asada" class="form-control hideinput">
                                        <option value=""></option>
                                        <%asadas.forEach(function(asada){%>
                                        <option hidden value="<%=asada.ID%>,
                                        <%=asada.Nombre%>,
                                        <%=asada.Provincia%>, 
                                        <%=asada.Canton%>, 
                                        <%=asada.Distrito%>, 
                                        <%=asada.Ubicacion%>, 
                                        <%=asada.Latitud%>,
                                        <%=asada.Longitud%>,               
                                        <%=asada.Poblacion%>,             
                                        <%=asada.cantAbonados%>,           
                                        <%=asada.Telefono%>,               
                                        <%=asada.Url%>"
                                        distrito="<%=asada.DISTRITO_ID%>" canton="<%=asada.CANTON_ID%>" provincia="<%=asada.PROVINCIA_ID%>">
                                        <%=asada.Nombre%></option>
                                        <%});%>
                                    </select>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <p id="listaAsadas" value="" hidden></p>
                                    <button id="agregarAsada" class="btn btn-info navbar-btn" hidden onclick="addAsadaToList();">+</button>
                                    <button id="borrarAsada" class="btn btn-info navbar-btn" hidden onclick="deleteAsadaFromList();">-</button>
                                </div>
                            </div>
                            <textarea id="asadasInforme" rows=5 readonly hidden ></textarea>
                            <div class="col-md-12" id="prueba" style="height: 500px; overflow-y: scroll;" hidden>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="checkbox" name="grafico" checked="true"> Incluir gr치fico de ara침a
                                    &nbsp;&nbsp;
                                    <input type="checkbox" name="hist" checked="true"> Incluir histograma
                                    <br><br>
                                    <button id="genpdf" class="btn btn-info navbar-btn" onclick="generarPDF();">Generar Informe</button>
                                    <button id="downloadpdf" class="btn btn-info navbar-btn" hidden onclick="downloadPDF();">Download PDF</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
		<!-- JS PDF -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {

				$("#agregarAsada").hide();
				$("#borrarAsada").hide();
				$("#asadasInforme").hide();
                $("#menu-toggle").click(function (e) {
                    e.preventDefault();
                    $("#wrapper").toggleClass("toggled");
                });
                $("#divrisk").click(function(){
                     $("#divrisk").toggle("slow","linear");
                });

                $("#buttonrisk").click(function(){
                     $("#divrisk").toggle("slow","linear");
                });
                //$("a[href$='/generarInforme']") .addClass("active");
                $("#downloadpdf").hide();
            });
        </script>
        <script src="/scripts/script.js"></script>
        <script src="/scripts/getProvCantDist.js"></script>
    </body>
</html>
