<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    </head>

    <body>

        <div class="d-flex" id="wrapper">
            <!-- Sidebar Holder -->
            <% include ../partials/latAdmin %>
            <!-- Page Content Holder -->
            <div id="page-content-wrapper" style="background-color: #FAFAFA;">
                <button class="btn" id="menu-toggle" style="background: none;"><i class="fas fa-bars"></i></button>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-md">
                            <p class="title mt-3 pb-2 font-weight-bold h3">Formulario</p>
                        </div>
                        <div class="col-auto d-flex align-items-center">
                            <button type="button" id="btnCrearFormulario" hidden onclick="crearFormulario()" class="btn btn-info">
                                Crear formulario
                            </button>
                        </div>
                    </div>
                    <div class="bg-white shadow p-3 mb-5">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="prov">Provincia</label>
                                    <select class="form-control" onchange="getCanton()" id="prov" name="prov">
                                        <option value="0">Sin filtro</option>
                                        <%prov.forEach(function(row, index) {%>
                                            <option value="<%= row.ID%>"><%= row.Nombre%></option>
                                        <%});%>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="cant">Cantón</label>
                                    <select class="form-control" onchange="getDistrito()" id="cant" name="cant">
                                            <option value="0">Sin filtro</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="dist">Distrito</label>
                                    <select class="form-control" onchange="getAsada()" id="dist" name="dist">
                                        <option value="0">Sin filtro</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="asada">ASADA</label>
                                    <select id="asada" name="asada" onclick="getAnnos(this)" class="form-control hideinput">
                                        <option value=""></option>
                                        <%asadas.forEach(function(asada){%>
                                            <option hidden value="<%=asada.ID%>"  distrito="<%=asada.Distrito%>" canton="<%=asada.Canton%>" provincia="<%=asada.Provincia%>"><%=asada.Nombre%></option>
                                        <%});%>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="anno">Año</label>
                                <select class="form-control hideinput" id="anno">
                                </select>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-borderless">
                                <thead>
                                    <tr>
                                        <th scope="col">Pregunta</th>
                                        <th scope="col">Respuesta</th>
                                    </tr>
                                </thead>
                                <tbody id="componenttable">                            
                                </tbody>
                            </table>
                            <input type="number" name="riesgo" id="riesgo" hidden>
                            <input type="text" name="tipoRiesgo" id="tipoRiesgo" hidden>
                            <select name="tipoGrafico" id="tipoGrafico" hidden>
                                <option value="bar"></option>
                            </select>
                            <div id="radar-chart-div" style="visibility: hidden;">
                                <canvas id="radar-chart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- jQuery CDN -->
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
               

                
                $("#menu-toggle").click(function (e) {
                    e.preventDefault();
                    $("#wrapper").toggleClass("toggled");
                });

                $("#divrisk").click(function(){
                     $("#divrisk").toggle("slow","linear");
                });

                $("#buttonrisk").click(function(){
                     $("#divrisk").toggle("slow","linear");
                });
                $("a[href$='/histFormulario']") .addClass("active");

            });
        </script>
        <script type="text/javascript">
            function crearFormulario()
            {
                location.href = "/crudFormularios?asada=" + $("#asada")[0].value + "&anno=" + (new Date()).getFullYear()
            }
        </script>
        <script src="/scripts/script.js"></script>
        <script src="scripts/getProvCantDist.js"></script>
    </body>
</html>