<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header %>
    </head>

    <body>


        <div class="d-flex" id="wrapper">
            <!-- Sidebar Holder -->
            <% include ../partials/latAdmin %>
            <!-- Page Content Holder -->
            <div id="page-content-wrapper" style="background-color: #FAFAFA;">
                <button class="btn" id="menu-toggle" style="background: none;"><i class="fas fa-bars"></i></button>
                <div class="container-fluid">
                    <h1 class="text-center title">Bienvenido a IRSSAS, <%= usuario.Nombre %></h1>
                    <p class="title mt-3 pb-2 font-weight-bold h3">Notificaciones</p>
                    <div class="bg-white shadow p-3 mb-5">
                        <div class="table-responsive">
                            <table class="table table-striped table-borderless">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Hora</th>
                                        <th>Detalles</th>
                                        <th>Estado</th>
                                        <th>Ver</th>
                                        <th>Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%notificaciones.forEach(function(solicitud){%>
                                        <tr>
                                            <td><%=solicitud.fecha.getDate() < 10 ? "0" + solicitud.fecha.getDate() : solicitud.fecha.getDate()%>/<%=solicitud.fecha.getMonth() + 1 < 10 ? "0" + (solicitud.fecha.getMonth() + 1) : solicitud.fecha.getMonth() + 1%>/<%=solicitud.fecha.getFullYear()%></td>
                                            <td><%=solicitud.hora%></td>
                                            <td> <%=solicitud.DETALLES%></td>
                                            <td> pendiente</td>
                                            <td> ver</td>
                                            <td><button class="btn btn-icon">
                                                    <i class="fas fa-trash text-danger"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <%});%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- jQuery CDN -->
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <!-- jQuery Custom Scroller CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
               

                $("#menu-toggle").click(function (e) {
                    e.preventDefault();
                    $("#wrapper").toggleClass("toggled");
                });

                $("#divrisk").click(function(){
                     $("#divrisk").toggle("slow","linear");
                });

                $("#buttonrisk").click(function(){
                     $("#divrisk").toggle("slow","linear");
                });


            });
        </script>
        <script src="scripts/script.js"></script>
    </body>
</html>