<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header %>
    </head>

    <body>

        <div class="d-flex" id="wrapper">
            <!-- Sidebar Holder -->
            <% include ../partials/latAdmin %>
            <!-- Page Content Holder -->

            <div id="page-content-wrapper" style="background-color: #FAFAFA;">
                <button class="btn" id="menu-toggle" style="background: none;"><i class="fas fa-bars"></i></button>
                <div class="container-fluid">
                    <h1 class="text-center title">Bienvenido a IRSSAS, <%= usuario.Nombre %></h1>
                    <p class="title mt-3 pb-2 font-weight-bold h3">Notificaciones</p>


                    <div class="bg-white shadow p-3 mb-5">
                        <div class="table-responsive">
                            <table class="table table-striped table-borderless" id="tabla-notificaciones">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Hora</th>
                                        <th>Detalles</th>
                                        <th>Estado</th>
                                        <th>Ver</th>
                                        <th>Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%notificaciones.forEach(function(solicitud){%>
                                    <tr>
                                        <td><%=solicitud.fecha.getDate() < 10 ? "0" + solicitud.fecha.getDate() : solicitud.fecha.getDate()%>/<%=solicitud.fecha.getMonth() + 1 < 10 ? "0" + (solicitud.fecha.getMonth() + 1) : solicitud.fecha.getMonth() + 1%>/<%=solicitud.fecha.getFullYear()%></td>
                                        <td><%=solicitud.hora%></td>
                                        <td>Solicitud de registro de ASADA: <%=solicitud.nombre%></td>
                                        <%if(solicitud.pendiente == null){%>
                                            <td>Pendiente</td>
                                            <td><a href="/verSolicitudRegistroAsada?idSolicitud=<%=solicitud.id%>">Ver</a></td>
                                        <%}else if(solicitud.pendiente){%>
                                            <td>Aceptada</td>
                                            <td></td>
                                        <%}else{%>
                                            <td>Rechazada</td>
                                            <td></td>
                                        <%}%>
                                        <td>
                                            <button class="btn btn-icon" onclick="borrarNotificacion(this, <%=solicitud.id%>)">
                                                <i class="fas fa-trash text-danger"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <%});%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            
            </div>

        </div>


      
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

        <script type="text/javascript">
            $(document).ready(function () {
               

                $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });

                $("#divrisk").click(function(){
                     $("#divrisk").toggle("slow","linear");
                });

                $("#buttonrisk").click(function(){
                     $("#divrisk").toggle("slow","linear");
                });


            });
        </script>

        <script type="text/javascript">
            function borrarNotificacion(element, idNotificacion)
            {
                Swal.fire(
                {
                    title: 'Borrar notificación',
                    text: '¿Desea borrar esta notificación?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#1D2D51',
                    cancelButtonColor: '#e13c26',
                    confirmButtonText: 'Sí',
                    cancelButtonText: 'No'
                }) //end sweetConfirmation
                .then((result) =>
                {
                    if (result.value)
                    {
                        Swal.fire(
                        {
                            title: "Cargando...",
                            allowOutsideClick: () => !Swal.isLoading(),
                            onBeforeOpen: ()=>
                            {
                                Swal.showLoading();
                                $.post("/deleteNotificacion", {"idNotificacion": idNotificacion}, function(data)
                                {
                                    Swal.fire(
                                    {
                                        title: data.error ? 'Error' : 'Éxito',
                                        icon: data.error ? 'error' : 'success',
                                        text: data.error ? 'Ocurrió un error al borrar la notificación' : 'La notificación se borró con éxito',
                                        confirmButtonColor: '#1D2D51'
                                    }) //end sweetResult
                                    .then((result) =>
                                    {
                                        element.parentNode.parentNode.parentNode.removeChild(element.parentNode.parentNode);
                                    })
                                }); //end deleteNotificacion
                            } //end onBeforeOpen
                        }); //end sweetLoading
                    } //end if
                }) //end then
            } //end borrarNotificacion
        </script>
        <script src="scripts/script.js"></script>
    </body>
</html>