<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header %>
    <!-- Conseguido en https://stackoverflow.com/questions/6632340/place-a-button-right-aligned -->
    <style>
        .flex-box
        {
            display:flex;
            justify-content:space-between;
        }
        .btn-no-main,
        .btn-no-main:active,
        .btn-no-main:visited,
        .btn-no-main:focus
        {
            background:  white;
            color: #193d66;
        }
        .btn-no-main:hover
        {
            background: #7f93aa;
            color: white;
        }
    </style>
</head>

<body>

    <div class="d-flex" id="wrapper">
        <!-- Sidebar Holder -->
        <% include ../partials/latAdmin %>
        <!-- Page Content Holder -->
        <div id="page-content-wrapper" style="background-color: #FAFAFA;">
            <button class="btn" id="menu-toggle" style="background: none;"><i class="fas fa-bars"></i></button>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md">
                        <p class="title mt-3 pb-2 font-weight-bold h3">Notificaciones / Solicitud de registro de ASADA</p>
                    </div>
                </div>
                <div class="bg-white shadow p-3 mb-5">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="nombre">Nombre de la ASADA</label><br>
                            <input id="nombre" value="<%=solicitud.nombre%>" type="text" class="form-control" placeholder="Ingrese el nombre" disabled>
                        </div>
                        <div class="col-md-6">
                            <label for="provCantDist">Provincia - Cantón - Distrito</label>
                            <input id="provCantDist" codigo="<%=solicitud.distrito_id%>" value="<%=solicitud.provincia%> - <%=solicitud.canton%> - <%=solicitud.distrito%>" type="text" class="form-control" disabled>
                        </div>
                        <div class="col-md-6">
                            <label for="latitud">Latitud</label><br>
                            <input type="number" value="<%=solicitud.latitud%>" class="form-control" id="latitud" step="any" min="-85.949547" max="-82.556378" placeholder="Ej: -85.565760" disabled>
                        </div>
                        <div class="col-md-6">
                            <label for="ubicacion">Dirección oficina ASADA</label><br>
                            <input id="ubicacion" value="<%=solicitud.ubicacion%>" type="text" class="form-control" placeholder="Ingrese la dirección exacta" disabled>
                        </div>
                        <div class="col-md-6">
                            <label for="longitud">Longitud</label><br>
                            <input type="number" value="<%=solicitud.longitud%>" class="form-control" id="longitud" step="any" min="8.043213" max="11.219225" placeholder="Ej: 10.023334" disabled>
                        </div>
                        <div class="col-md-6">
                            <label for="telefono">Teléfono fijo</label><br>
                            <input type="number" value="<%=solicitud.telefono%>" class="form-control" id="telefono" step="any" min="10000000" max="99999999" placeholder="Ingrese el número de teléfono" disabled>
                        </div>
                        <div class="col-md-6">
                            <label for="url">Enlace (URL)</label><br>
                            <input id="url" type="url" value="<%=solicitud.url%>" class="form-control" pattern="https://.*" placeholder="Ingrese la página de la ASADA (si tiene)" disabled>
                        </div>
                        <div class="col-md-6">
                            <label for="celular">Teléfono celular</label><br>
                            <input type="number" value="<%=solicitud.celular%>" class="form-control" id="celular" step="any" min="10000000" max="99999999" placeholder="Ingrese el número de teléfono" disabled>
                        </div>
                        <div class="col-md-6">
                            <label for="administrador">Administrador(a)</label>
                            <input id="administrador" value="<%=solicitud.administrador%>" type="text" class="form-control" placeholder="Ingrese el nombre del administrador(a) de la ASADA" disabled>
                        </div>
                        <div class="col-md-6">
                            <label for="cantAbonados">Número de abonados</label>
                            <input type="number" value="<%=solicitud.cantAbonados%>" class="form-control" id="cantAbonados" min="0" step="any" placeholder="Ingrese la cantidad de abonados" disabled>
                        </div>
                        <div class="col-md-6">
                            <label for="usuario">Correo electrónico del administrador(a)</label>
                            <input id="usuario" value="<%=solicitud.correo%>" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="form-control" placeholder="Ingrese el correo del administrador(a) de la ASADA" disabled>
                        </div>
                        <div class="col-md-6">
                            <label for="poblacion">Población abastecida</label>
                            <input type="number" value="<%=solicitud.poblacion%>" class="form-control" id="poblacion" min="0" step="any" placeholder="Ingrese la población abastecida" disabled>
                        </div>
                        <div class="col-md-6">
                            <label for="asociacion">Asociación de ASADAs</label>
                            <input id="asociacion" codigo="<%=solicitud.asociacion_id%>" value="<%=solicitud.asociacion ? solicitud.asociacion : "Ninguna"%>" type="text" class="form-control" disabled>
                        </div>
                        <div class="col-md-6"></div>
                        <div class="col-md-6"></div>
                        <div class="col-md-3">
                            <button id="btnRechazar" type="button" class="col-md-12 btn btn-info navbar-btn btn-no-main shadow" onclick="confirmarRespuestaSolicitudRegistroAsada(<%=solicitud.id%>, 0)">Rechazar</button>
                        </div>
                        <div class="col-md-3">
                            <button id="btnAceptar" type="button" class="col-md-12 btn btn-info navbar-btn shadow" onclick="confirmarRespuestaSolicitudRegistroAsada(<%=solicitud.id%>, 1)">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- jQuery CDN -->
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <!-- jQuery Custom Scroller CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
        <!-- Sweetalert -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        <!-- Local -->
        <script src="/scripts/getProvCantDist.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
               

                $("#menu-toggle").click(function (e) {
                    e.preventDefault();
                    $("#wrapper").toggleClass("toggled");
                });

                $("#divrisk").click(function(){
                     $("#divrisk").toggle("slow","linear");
                });

                $("#buttonrisk").click(function(){
                     $("#divrisk").toggle("slow","linear");
                });


            });
            

        </script>

        <script type="text/javascript">
            function confirmarRespuestaSolicitudRegistroAsada(idSolicitud, respuesta)
            {
                var parameters = {
                    nombre: $('#nombre').val(),
                    distrito: $('#provCantDist').attr("codigo"),
                    latitud: $('#latitud').val(),
                    longitud: $('#longitud').val(),
                    asociacion: $('#asociacion').attr("codigo"),
                    ubicacion: $('#ubicacion').val(),
                    telefono: $('#telefono').val(),
                    poblacion: $('#poblacion').val(),
                    url: $('#url').val(),
                    cantAbonados: $('#cantAbonados').val(),
                    celular: $('#celular').val(),
                    administrador: $('#administrador').val(),
                    usuario: $('#usuario').val(),
                    idSolicitud: idSolicitud,
                    respuesta: respuesta
                }
                Swal.fire(
                {
                    title: (respuesta ? 'Aceptar' : 'Rechazar'),
                    text: '¿Desea ' + (respuesta ? 'aceptar' : 'rechazar') + ' esta ASADA?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#1D2D51',
                    cancelButtonColor: '#e13c26',
                    confirmButtonText: 'Sí',
                    cancelButtonText: 'No'
                })
                .then((result) =>
                {
                    if (result.value)
                    {
                        Swal.fire(
                        {
                            title: "Cargando...",
                            allowOutsideClick: () => !Swal.isLoading(),
                            onBeforeOpen: ()=>
                            {
                                Swal.showLoading();
                                $.post("/verSolicitudRegistroAsada/respuesta", parameters, function(data)
                                {
                                    if(data.error)
                                    {
                                        Swal.fire(
                                        {
                                            title: 'Error',
                                            icon: 'error',
                                            text: 'Ocurrió un error al ' + (respuesta ? 'aceptar' : 'rechazar') + ' la solicitud',
                                            confirmButtonColor: '#1D2D51'
                                        })
                                    }
                                    else
                                    {
                                        Swal.fire(
                                        {
                                            title: 'Éxito',
                                            icon: 'success',
                                            text: 'La solicitud fue ' + (respuesta ? 'aceptada' : 'rechazada') + ' con éxito',
                                            confirmButtonColor: '#1D2D51'
                                        })
                                        .then((result)=>
                                        {
                                            location.href='/'
                                        })
                                    }
                                })
                            }
                        });
                    }
                })
            }
        </script>
</body>
</html>